---
import { Image } from '@astrojs/image/components'

const { image, imageAlt, url, text } = Astro.props
---

<a href={url} class='px-4 py-2 bg-slate-500 rounded-full shadow-xl'>
  <Image
    src={image}
    alt={imageAlt}
    width={16}
    height={16}
    class='inline-block -mt-1 mr-2'
  />
  <span class='uppercase text-sm font-bold'>{text}</span>
</a>
