---
import { Picture } from '@astrojs/image/components'

import ProjectLayout from '../layouts/ProjectLayout.astro'
import SiteLink from '../components/project-links/SiteLink.astro'
import GithubLink from '../components/project-links/GithubLink.astro'
import ListItem from '../components/ListItem.astro'
import Section from '../components/Section.astro'
import Heading from '../components/Heading.astro'

import screenshot from '../images/terrain-blog/screenshot.jpg'
import imageLoad from '/image-load.mp4'
import performance from '../images/terrain-blog/performance.jpg'
---

<ProjectLayout title='1d3trees | Laura Cleveland'>
  <Section>
    <h1 class='mb-16 text-3xl font-bold'>1d3trees Blog</h1>
    <p class='mb-12 max-w-xl'>
      A blog for some miniature terrain pieces I made for our D&D campaign a few
      years ago. I show the process for building process for each piece, so the
      posts are very image heavy. I built this blog with Gatsby, mostly to take
      advantage of its convenient image features.
    </p>

    <div class='mb-8 rounded-2xl overflow-hidden shadow-xl'>
      <Picture
        src={screenshot}
        alt='screenshot'
        widths={[1059]}
        aspectRatio='1059:739'
      />
    </div>
  </Section>

  <div
    class='[grid-column:2] w-full h-1 bg-gradient-to-br from-[#70cdf5] to-[#6073f7]'
  >
  </div>

  <Section>
    <div class='xs:flex xs:flex-wrap'>
      <div class='xs:grow mb-16 xs:mb-0'>
        <h2 class='mb-6 text-xl font-semibold'>Created with</h2>
        <ul>
          <ListItem>Gatsby JS</ListItem>
          <ListItem>GraphQL</ListItem>
          <ListItem>React</ListItem>
          <ListItem>Netlify</ListItem>
        </ul>
      </div>

      <div
        class='shrink-0 flex justify-center xs:flex-col xs:justify-normal gap-4 xs:gap-8 xs:items-end'
      >
        <SiteLink url='#' />
        <GithubLink url='#' />
      </div>
    </div>
  </Section>

  <Section>
    <Heading>Background</Heading>
    <p class='mb-12 max-w-xl'>
      When my husband and I started our own D&D campaign with our friends, we
      were all completely new to tabletop games. We went all out on our setup
      and atmosphere, and I had a blast learning to build miniature environments
      for our dungeons. This blog was a great place for our play group to come
      and see what went into the pieces that we played with.
    </p>
  </Section>

  <Section>
    <Heading>Performance features</Heading>
    <div class='md:flex'>
      <div class='md:basis-3/5 md:pr-10 lg:pr-16'>
        <p class='mb-4 max-w-2xl'>
          Gatsby's image plugin does so many things for you out of the box,
          including:
        </p>
        <ul class='mb-8 max-w-2xl'>
          <ListItem>
            A blur-up technique that creates tiny images from the source images
            and displays them while the full images load
          </ListItem>
          <ListItem>
            Prevents cumulative layout shift (CLS) so the content does move
            around unexpectedly during load time
          </ListItem>
          <ListItem>
            Uses lazy loading by default, which is crucial for the posts on this
            site, as each has 20-50 high resolution photos on a single page
          </ListItem>
          <ListItem>
            Creates the different resolutions of your images to be served at
            different screen sizes
          </ListItem>
        </ul>
        <p class='mb-10 max-w-2xl'>
          Gatsby also has a &lt;Link&gt; component that prefetches the resources
          for the pages that are linked to when the link enters the viewport or
          is moused over, so navigating around feels super fast.
        </p>
      </div>

      <div class='md:basis-2/5'>
        <div class='rounded-xl overflow-hidden shadow-xl'>
          <video autoplay loop muted>
            <source src={imageLoad} type='video/mp4' />
          </video>
        </div>
        <p class='mt-2 mb-16 italic text-slate-400 text-center'>
          Throttled to Fast 3G
        </p>
      </div>
    </div>
  </Section>

  <Section>
    <div class='flex justify-center'>
      <Picture
        src={performance}
        alt='performance'
        widths={[977]}
        aspectRatio='977:807'
        class='max-w-xl'
      />
    </div>
  </Section>

  <Section>
    <div class='flex justify-center gap-4'>
      <SiteLink url='#' />
      <GithubLink url='#' />
    </div>
  </Section>
</ProjectLayout>
