---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import Project from '../components/Project.astro'
import nemesisAiThumbnail from '../images/nemesis-ai/thumbnail.jpg'
import mealAppThumbnail from '../images/meal-app/thumbnail.jpg'
import vrTacticsThumbnail from '../images/vr-tactics/thumbnail.jpg'
import thumbnail from '../images/terrain-blog/thumbnail.png'
---

<Layout title='Laura Cleveland'>
  <div
    class='pt-56 pb-24 pl-12 bg-gradient-to-br from-gradient-start to-gradient-end'
  >
    <Section>
      <h1 class='text-3xl xs:text-4xl sm:text-5xl font-semibold'>
        <span class='block text-accent-1'>Laura</span>
        <span class='block text-accent-2'>Cleveland</span>
      </h1>
    </Section>
  </div>

  <div class='bg-background-dark'>
    <Section>
      <p class='mb-10 max-w-lg'>
        Voluptate est labore voluptate est ut esse occaecat deserunt excepteur
        laboris. Nostrud nulla eu laboris veniam adipisicing fugiat pariatur est
        voluptate consequat occaecat nostrud aliqua.
      </p>
      <p class='max-w-lg'>
        Dolor dolor veniam labore non aliquip ipsum sit minim anim id. Aliqua
        fugiat mollit aliqua officia ullamco aute officia quis ea culpa.
      </p>
    </Section>
  </div>

  <Section>
    <h2 class='mb-10 text-2xl font-bold'>My Skills</h2>
    <p class='mb-10 max-w-lg'>
      Nisi proident consectetur adipisicing fugiat culpa veniam laboris. Quis
      magna id est sit nisi officia nisi duis tempor amet anim cupidatat
      reprehenderit. Nisi eu amet mollit ad dolore excepteur sunt qui.
    </p>

    <!-- I know there is a way to do thirds for these that has better balance -->
    <ul class='flex flex-wrap text-sm font-medium uppercase'>
      <li class='basis-1/2 xs:basis-1/3 py-3 text-orange-100'>Javascript</li>
      <li class='basis-1/2 xs:basis-1/3 py-3 text-orange-200'>React</li>
      <li
        class='basis-1/2 xs:basis-1/3 py-3 text-orange-200 xs:text-orange-300'
      >
        SQL
      </li>
      <li
        class='basis-1/2 xs:basis-1/3 py-3 text-orange-300 xs:text-orange-200'
      >
        Faucibus
      </li>
      <li class='basis-1/2 xs:basis-1/3 py-3 text-orange-300'>Arcu turpis</li>
      <li class='basis-1/2 xs:basis-1/3 py-3 text-orange-400'>Sagittis</li>
    </ul>
  </Section>

  <Section>
    <h2 class='mb-6 text-2xl font-bold'>Featured Projects</h2>
    <p class='mb-16 max-w-lg'>
      Nulla do nisi ipsum duis ut qui aliquip consectetur veniam dolor. Sunt
      incididunt est esse mollit magna consequat exercitation aute velit
      incididunt. Aliqua reprehenderit ipsum sit est non minim aute pariatur
      tempor sint occaecat incididunt. Aute eiusmod sit anim qui laboris tempor
      adipisicing veniam ipsum do Lorem proident ullamco.
    </p>

    <Project
      title='Nemesis AI'
      description='A GPT-powered chatbot to answer questions about board game rules'
      image={nemesisAiThumbnail}
      url='nemesis-ai'
    />

    <Project
      title='Meal app'
      description='Tracks meals and their ingredients, food purchases, and home inventory'
      image={mealAppThumbnail}
      url='meal-app'
    />

    <Project
      title='Tactics VR'
      description='The beginnings of a tactics game for SteamVR, built with Unity'
      image={vrTacticsThumbnail}
      url='vr-tactics'
    />

    <Project
      title='1d3trees: Tabletop DIY Blog'
      description="Blog for detailing the process of crafting bits and bobs for tabletop games, and showcasing miniatures I've painted"
      image={thumbnail}
      url='#'
    />
  </Section>

  <Section>
    <h2 class='mb-6 text-2xl font-bold'>Get in touch</h2>
    <p class='mb-6 max-w-md'>
      Anim Lorem et esse sunt duis commodo culpa exercitation est pariatur Lorem
      qui mollit adipisicing.
    </p>
    <a href='#' class='text-sm font-bold uppercase border-b border-b-text'
      >Nunc vel gravida nisl</a
    >
  </Section>

  <div class='flex justify-end mt-12 mb-8 pr-10'>
    <a href='#' class='ml-6'>github</a>
    <a href='#' class='ml-6'>twitter</a>
    <a href='#' class='ml-6'>linkedin</a>
  </div>
</Layout>
