---
import Layout from '../layouts/Layout.astro'
import Project from '../components/Project.astro'
import nemesisAiThumbnail from '../images/nemesis-ai/thumbnail.jpg'
import mealAppThumbnail from '../images/meal-app/thumbnail.jpg'
import vrTacticsThumbnail from '../images/vr-tactics/thumbnail.jpg'
import thumbnail from '../images/terrain-blog/thumbnail.png'
---

<Layout title='Laura Cleveland'>
  <!-- <div
    class='w-48 xs:w-60 sm:w-72 h-4 bg-red-500 absolute top-20 xs:top-24 sm:top-28 left-0 opacity-30'
  >
  </div>
  <div
    class='absolute top-16 xs:top-20 sm:top-24 left-24 xs:left-40 sm:left-44'
  >
    Links
  </div> -->
  <div class='mb-32'>
    <h1 class='mb-8 text-3xl font-bold'>Laura Cleveland</h1>
    <p class='mb-6 max-w-lg'>
      Voluptate est labore voluptate est ut esse occaecat deserunt excepteur
      laboris. Nostrud nulla eu laboris veniam adipisicing fugiat pariatur est
      voluptate consequat occaecat nostrud aliqua. Adipisicing aliquip tempor
      tempor laborum ex ut aliquip nulla nisi ad pariatur.
    </p>
    <p class='max-w-lg'>
      Dolor dolor veniam labore non aliquip ipsum sit minim anim id. Aliqua
      fugiat mollit aliqua officia ullamco aute officia quis ea culpa. Anim
      labore sint consequat non pariatur ad duis proident veniam dolore irure.
    </p>
  </div>

  <div class='mb-32'>
    <h2 class='mb-8 text-2xl font-bold'>My Skills</h2>
    <p class='mb-6 max-w-lg'>
      Nisi proident consectetur adipisicing fugiat culpa veniam laboris. Quis
      magna id est sit nisi officia nisi duis tempor amet anim cupidatat
      reprehenderit. Nisi eu amet mollit ad dolore excepteur sunt qui.
    </p>

    <!-- I know there is a way to do thirds for these that has better balance -->
    <ul class='flex flex-wrap text-sm font-medium uppercase'>
      <li class='basis-1/2 xs:basis-1/3 py-3 text-orange-100'>Javascript</li>
      <li class='basis-1/2 xs:basis-1/3 py-3 text-orange-200'>React</li>
      <li
        class='basis-1/2 xs:basis-1/3 py-3 text-orange-200 xs:text-orange-300'
      >
        SQL
      </li>
      <li
        class='basis-1/2 xs:basis-1/3 py-3 text-orange-300 xs:text-orange-200'
      >
        Faucibus
      </li>
      <li class='basis-1/2 xs:basis-1/3 py-3 text-orange-300'>Arcu turpis</li>
      <li class='basis-1/2 xs:basis-1/3 py-3 text-orange-400'>Sagittis</li>
    </ul>
  </div>

  <div class='mb-32'>
    <h2 class='mb-6 text-2xl font-bold'>Featured Projects</h2>
    <p class='mb-16 max-w-lg'>
      Nulla do nisi ipsum duis ut qui aliquip consectetur veniam dolor. Sunt
      incididunt est esse mollit magna consequat exercitation aute velit
      incididunt. Aliqua reprehenderit ipsum sit est non minim aute pariatur
      tempor sint occaecat incididunt. Aute eiusmod sit anim qui laboris tempor
      adipisicing veniam ipsum do Lorem proident ullamco.
    </p>

    <Project
      title='Nemesis AI'
      description='A GPT-powered chatbot to answer questions about board game rules'
      image={nemesisAiThumbnail}
      url='nemesis-ai'
    />

    <Project
      title='Meal app'
      description='Tracks meals and their ingredients, food purchases, and home inventory'
      image={mealAppThumbnail}
      url='meal-app'
    />

    <Project
      title='Tactics VR'
      description='The beginnings of a tactics game for SteamVR, built with Unity'
      image={vrTacticsThumbnail}
      url='vr-tactics'
    />

    <Project
      title='1d3trees: Tabletop DIY Blog'
      description="Blog for detailing the process of crafting bits and bobs for tabletop games, and showcasing miniatures I've painted"
      image={thumbnail}
      url='#'
    />

    <div class='mb-40'>
      <h2 class='mb-6 text-2xl font-bold'>Get in touch</h2>
      <p class='mb-6 max-w-md'>
        Anim Lorem et esse sunt duis commodo culpa exercitation est pariatur
        Lorem qui mollit adipisicing.
      </p>
      <a href='#' class='text-sm font-bold uppercase border-b border-b-text'
        >Nunc vel gravida nisl</a
      >
    </div>

    <div class='flex justify-end mb-8'>
      <a href='#' class='ml-6'>github</a>
      <a href='#' class='ml-6'>twitter</a>
      <a href='#' class='ml-6'>something else?</a>
    </div>
  </div>
</Layout>
