---
import { Picture } from '@astrojs/image/components'

interface Props {
  title: string
  description: string
  image: string
  url: string
}

const { title, description, image, url } = Astro.props
---

<!-- Picture sizes, widths, ratio, all placeholders for now -->
<div class='mb-24 last:mb-0 bg-[#31373f] shadow-2xl'>
  <a href={url} class='relative group'>
    <div class='p-8 pb-12 md:pb-0 flex flex-wrap'>
      <div class='md:basis-3/5 md:pr-10 lg:pr-20 pb-8'>
        <h3 class='mb-8 text-xl font-semibold'>{title}</h3>
        <p>
          {description}
        </p>
      </div>
      <div class='md:basis-2/5'>
        <Picture
          src={image}
          widths={[600]}
          alt='nemesis-ai-screenshot'
          aspectRatio='3:2'
          sizes='(max-width: 800px) 100vw, 800px'
          class='rounded-lg shadow-xl'
        />
      </div>
    </div>
    <div>
      <button
        class='w-48 ml-8 py-4 px-6 text-xs font-bold uppercase bg-[#308591]'
      >
        View Project &rsaquo;
      </button>
    </div>
    <span class='absolute left-0 bottom-0 w-full h-1 bg-[#308591]'></span>
  </a>
</div>
