---
import { Image } from '@astrojs/image/components'
import logo from '../images/logo.svg'
import '@fontsource/dm-sans/600.css'
import '@fontsource/dm-sans/400.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class='bg-background text-text leading-8'>
    <div
      class='grid grid-cols-[minmax(16px,_1fr)_minmax(auto,_1024px)_minmax(16px,_1fr)] sm:grid-cols-[minmax(64px,_1fr)_minmax(auto,_1024px)_minmax(64px,_1fr)]'
    >
      <a href='/' class='[grid-column:_2] py-10'>
        <Image alt='' src={logo} width={32} height={32} />
      </a>
      <slot />
    </div>
  </body>
</html>
